1. What are data structures, and why are they important?


      Answer:
      Data structures are ways to store and organize data efficiently. They help manage data for operations like access, insertion, deletion, and searching.
      Example:

      Lists store ordered items.

      Dictionaries store key-value pairs for fast lookups.

2. Explain the difference between mutable and immutable data types with examples.
Answer:

          Mutable: Can be changed after creation (e.g., list, dictionary).
          Immutable: Cannot be changed after creation (e.g., string, tuple).

In [ ]:
# Mutable
lst = [1, 2, 3]
lst[0] = 10  # Works

In [ ]:
# Immutable
tup = (1, 2, 3)
tup[0] = 10  # Raises TypeError

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

         Mutability:
            Lists are mutable, meaning their contents can be
            changed after creation. You can add, remove, or update
            elements in a list. In contrast, tuples are
            immutable, which means once created, their elements
            cannot be modified. This immutability makes tuples
            more suitable for constant data that shouldn't
            change throughout the program.

        Syntax:
            Lists are defined using square brackets: [1, 2, 3].
            Tuples, on the other hand, use parentheses: (1, 2, 3).
            This syntactical difference makes it easy to
            distinguish between the two at a glance.

        Performance:
            Tuples are faster than lists in terms of performance.
            This is primarily because their immutability allows
            for optimizations at the interpreter level. Lists,
            being mutable, require additional overhead to handle
            dynamic operations, making them slower in comparison.

        Use Case:
            Lists are preferred when the data is dynamic and may
            need modifications during execution — such as
            collecting user input, appending values, or modifying
            items. Tuples are ideal for fixed data collections —
            such as coordinates, RGB color values, or data you
            want to ensure remains constant throughout the program.

4. Describe how dictionaries store data.

        Answer:
          Dictionaries store data as key-value pairs using a hash table. Keys must be hashable.

In [ ]:
student = {'name': 'Alice', 'age': 21}
print(student['name'])  # Output: Alice

Alice

5. Why might you use a set instead of a list in Python?

        Answer:
        Sets automatically remove duplicates and allow faster
        membership tests.For removig duplicates and work with unique values we can convert a list into set.

In [ ]:
numbers = [1, 2, 2, 3]
unique = set(numbers)  # {1, 2, 3}
print(numbers)
print(unique)

[1, 2, 2, 3]
{1, 2, 3}

6. What is a string in Python, and how is it different from a list?
      
          Answer:
              A string is an immutable sequence of characters. A list can hold any data type and is mutable.

In [ ]:
s = "hello"
l = list(s)
print("String: ", s)
print("List: ", l)
l[0] = 'p'
print("Modified List: ", l)

String:  hello
List:  ['h', 'e', 'l', 'l', 'o']
Modified List:  ['p', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

        Answer:
        Tuples are immutable, so once created, data cannot be altered, ensuring consistency.

In [ ]:
coords = (10.0, 20.0)  # Can't be changed later
try:
    coords[0] = 11.0
except Exception as e:
    print("Exception: ",e)

Exception:  'tuple' object does not support item assignment

8. What is a hash table, and how does it relate to dictionaries in Python?
        Answer:
                A hash table is a data structure that maps keys to values using a hash function.
                Python dictionaries are implemented using hash tables

                In Python, a dict is an implementation of a hash table. When you store a key-value pair in a dictionary:

            1. The key is passed through a hash function (using Python’s built-in hash()).
            
            2. This hash value determines where the value is stored in memory.

            3. On lookup, the key is hashed again and used to access the value directly.

In [ ]:
# Creating a dictionary (uses a hash table internally)
person = {
    "name": "Alice",
    "age": 30,
    "location": "New York"
}

# Accessing values (fast lookup using hash table)
print(person["name"])      # Output: Alice
print(person.get("age"))   # Output: 30

# Adding a new key-value pair
person["email"] = "alice@example.com"

# Modifying a value
person["age"] = 31

# Deleting a key
del person["location"]

# Final dictionary
print(person)

Alice
30
{'name': 'Alice', 'age': 31, 'email': 'alice@example.com'}

9. Can lists contain different data types in Python?

        Answer:
        Yes, lists can store mixed data types.

In [ ]:
mixed = [1, "hello", 3.14, True]
for m in mixed:
  print(type(m), " - " , m)

<class 'int'>  -  1
<class 'str'>  -  hello
<class 'float'>  -  3.14
<class 'bool'>  -  True

10. Explain why strings are immutable in Python.

    Strings in Python are immutable, meaning once a string is created, it cannot be changed.
      Any operation that seems to modify a string actually creates a new string.

    **Reasons for String Immutability:**

    **Memory Efficiency (String Interning):**
    Python optimizes memory by reusing strings (called interning).
    This is only safe if strings can’t be changed — otherwise, one change would affect all variables pointing to the same string.

    **Hashing and Dictionary Keys:**
    Strings are often used as keys in dictionaries, which require keys to be hashable.
    Immutability ensures that a string’s hash value stays the same, making lookup safe and consistent.

    **Thread Safety:**
    Immutable objects are naturally thread-safe.
    Multiple threads can access the same string without synchronization issues, since the data can't be changed.

    **Predictable Behavior:**
    Since strings can’t change, their behavior is consistent and easy to reason about.
    This helps prevent bugs in large-scale applications.

11. What advantages do dictionaries offer over lists for certain tasks?
    Answer:

    Faster lookups (O(1)).
    Associative data storage via keys.

In [ ]:
users = {'alice': 1001, 'bob': 1002}
print(users['alice'])

1001

12. Describe a scenario where using a tuple would be preferable over a list.
          A tuple is preferable over a list in scenarios
           where immutability, performance, or data integrity is important.

In [ ]:
#For example, when storing the coordinates of cities as keys and their names as values:

city_data = {
    (28.6139, 77.2090): "New Delhi",
    (19.0760, 72.8777): "Mumbai"
}
print(city_data[(28.6139, 77.2090)])
#Here, a tuple is used because it is immutable and hashable, allowing it to be used as a dictionary key.
#Lists cannot be used in such a case because they are mutable and unhashable.

New Delhi

13. How do sets handle duplicate values in Python?

        n Python, sets automatically eliminate duplicate values.
        When duplicate elements are added to a set, only one instance of each unique element is stored.
         Sets are unordered collections of unique items.

In [ ]:
my_set = {1, 2, 2, 3, 4, 4, 4}
print(my_set)

{1, 2, 3, 4}

14. How does the “in” keyword work differently for lists and dictionaries?


      Answer:
      List: Checks for values.
      Dict: Checks for keys only.

In [ ]:
print(3 in [1, 2, 3])                 # True
print('name' in {'name': 'Alice'})   # True
print('Alice' in {'name': 'Alice'})  # False

True
True
False

15. Can you modify the elements of a tuple? Explain why or why not.

        Answer:
          No, you cannot modify the elements of a tuple in Python because tuples are immutable.
          Once a tuple is created, its elements cannot be changed, added, or removed.

        This immutability ensures data integrity and allows tuples
        to be used as keys in dictionaries or elements in sets, which require hashable types.

In [ ]:
t = (1, 2, 3)
t[0] = 10  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?

          Answer:

          A nested dictionary is a dictionary where values can be other dictionaries.
          It allows storing hierarchical or structured data in a key-value format.

In [ ]:
students = {
    'John': {'Math': 90, 'Science': 85},
    'Alice': {'Math': 95, 'Science': 92}
}

print(students['Alice']['Science'])  # Output: 92

92

17. Describe the time complexity of accessing elements in a dictionary.

        Answer:

        Accessing elements in a Python dictionary has an average time complexity of O(1),
        which means it takes constant time regardless of the dictionary size.

        This efficiency is due to the hash table implementation of dictionaries. Each key is hashed,
        and the resulting index points directly to the value's location.

In [ ]:
data = {'a': 10, 'b': 20}
print(data['b'])  # Output: 20

20

18. In what situations are lists preferred over dictionaries?

          Lists are preferred over dictionaries in the following
          situations:
          
          Ordered Data:
          Lists maintain the order of elements, unlike dictionaries.
          
          Index-Based Access:
          Elements can be accessed using integer indices, which is useful in position-based operations.
          
          Simple Sequence Storage:
          Lists are ideal for storing a collection of values without requiring named keys.
          
          Efficient Iteration:
          Iterating over lists is straightforward and follows the original insertion order.
          
          Lower Memory Usage:
          Lists consume less memory than dictionaries since they do not store keys.

In [ ]:
# 1. Ordered Data
cities = ['Delhi', 'Mumbai', 'Chennai']

# 2. Index-Based Access
print(cities[0])  # Output: Delhi

# 3. Simple Sequence
primes = [2, 3, 5, 7, 11]

# 4. Efficient Iteration
for city in cities:
    print(city)

# 5. Lower Memory Usage
# Lists are compact and suitable for simple datasets

Delhi
Delhi
Mumbai
Chennai

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

        Answer:

        Dictionaries were traditionally considered unordered because they did not maintain the insertion order of key-value pairs (prior to Python 3.7).
        From Python 3.7 onwards, dictionaries preserve insertion order, but they are still conceptually unordered because data is stored based on hashing, not sequence.

        Effect on Data Retrieval:

        Access by key only: You cannot access dictionary elements by index; only by key.

        No guaranteed order (in older versions): The order of items may not reflect insertion order.
        
        Efficient lookups: Despite being unordered, retrieval by key is fast (average time complexity O(1)).

In [ ]:
data = {'name': 'Alice', 'age': 25, 'city': 'Delhi'}
print(data['age'])  # Output: 25

# Access by key is allowed
# Access by index like data[0] is invalid

25

20. Explain the difference between a list and a dictionary in terms of data retrieval.


      Answer:
      Access Method:
      List: Elements are accessed using integer indices starting from 0.
      Dictionary: Elements are accessed using unique keys.
      Data Structure Type:
      List: Stores data in a sequential manner.
      Dictionary: Stores data as key-value pairs.
      Retrieval Speed:
      List: Accessing by index is fast (O(1)), but searching by value is slower (O(n)).
      Dictionary: Access by key is very fast (O(1) on average) due to internal hashing.
      Use Case:
      List: Best when position matters, or when working with ordered collections.
      Dictionary: Best when fast lookup by name/label/key is needed.
      Ordering:
      List: Always ordered.
      Dictionary: Maintains insertion order from Python 3.7+, but ordering is not used for access.

In [ ]:
# List example
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])  # Output: banana (access by index)

# Dictionary example
student = {'name': 'Alice', 'age': 22, 'grade': 'A'}
print(student['grade'])  # Output: A (access by key)

banana
A

***Practical Questions***

1. Write a code to create a string with your name and print it.

In [1]:
# Creating a string with my name
name = "Sayantan"
print(name)

Sayantan

2. Write a code to find the length of the string "Hello World".

In [2]:
s = "Hello World"
print(len(s))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
s = "hello"
print(s.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
lst = [10, 20, 30, 40, 50]
print("first method: ", lst[::-1])
lst.reverse()
print("Second Method: ", lst)

first method:  [50, 40, 30, 20, 10]
Second Method:  [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
t = (10, 20, 5, 15)
print(min(t))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key–value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {'a': 1, 'b': 2}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [28]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[12, 21, 33, 53, 57]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [30]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [31]:
lst = ["apple", "banana", "cherry"]
s = set(lst)
print(s)

{'cherry', 'apple', 'banana'}